.forecastContainer {
    background-color: white;
    color:black;
    margin: 0 0.5%;
    border-radius: 5%;
    text-align: center;
    box-shadow: 10px 5px 5px #00000036;
}

.container {
    display: flex;
}

.temp{
    display: flex;
}

.blockInfo{
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
}